
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    background-size: cover;
}

.up {text-align: center;margin-top: 10px;}
.up p{color: white; font-family:  'Orbitron', sans-serif;
    text-transform: uppercase;
  letter-spacing: .1em;
font-size: 30px;}
.center{display:flex;margin-top:200px ;margin-left: 86px;   }
.center ul{list-style: none;display: flex;color:  rgb(11, 183, 168);justify-content: space-between;}
.center ul li{padding: 100px; font-family:  'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: .25em; }
    .low{text-align: center;margin-top: 0px;}
    .low button {

        height: 29px;
        width: 196px;
        border-radius: 5px;
    border: none;
    font-family:  'Orbitron', sans-serif;
    background-color: rgb(10, 233, 215);
    border: none;


    }    
    .btn:hover {
        background-color: rgb(0, 0, 0);transition: 0.5s;color: rgb(255, 255, 255);
    }
    #view{margin-right: 50px;}

    .up img {
        background-repeat: no-repeat;
        height: 10vh;
        width: 10vh;
        margin-top: 10px;
        margin-left: 10px;
    }